STep1 -- import libraries

In [ ]:
import pandas  as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib

Using matplotlib backend: agg

Step-2  read the  companies data set

In [ ]:
cp = pd.read_csv('/content/sample_data/Companies.csv')

In [ ]:
cp.head(10)

  Features-1      Features-2       Features-3  Features-4      Label
0  R&D Spend  Administration  Marketing Spend       State     Profit
1   165349.2        136897.8         471784.1    New York  192261.83
2   162597.7       151377.59        443898.53  California  191792.06
3  153441.51       101145.55        407934.54     Florida  191050.39
4  144372.41       118671.85        383199.62    New York  182901.99
5  142107.34        91391.77        366168.42     Florida  166187.94
6   131876.9        99814.71        362861.36    New York  156991.12
7  134615.46       147198.87        127716.82  California  156122.51
8  130298.13       145530.06        323876.68     Florida   155752.6
9  120542.52       148718.95        311613.29    New York  152211.77

In [ ]:
cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Features-1  51 non-null     object
 1   Features-2  51 non-null     object
 2   Features-3  51 non-null     object
 3   Features-4  51 non-null     object
 4   Label       51 non-null     object
dtypes: object(5)
memory usage: 2.1+ KB

Step -3 : drop the profit from the dataset

In [ ]:
X = cp.drop(['Label'], axis=1)
Y = cp['Label']
X.head(10)

  Features-1      Features-2       Features-3  Features-4
0  R&D Spend  Administration  Marketing Spend       State
1   165349.2        136897.8         471784.1    New York
2   162597.7       151377.59        443898.53  California
3  153441.51       101145.55        407934.54     Florida
4  144372.41       118671.85        383199.62    New York
5  142107.34        91391.77        366168.42     Florida
6   131876.9        99814.71        362861.36    New York
7  134615.46       147198.87        127716.82  California
8  130298.13       145530.06        323876.68     Florida
9  120542.52       148718.95        311613.29    New York

In [ ]:
Y

0        Profit
1     192261.83
2     191792.06
3     191050.39
4     182901.99
5     166187.94
6     156991.12
7     156122.51
8      155752.6
9     152211.77
10    149759.96
11    146121.95
12     144259.4
13    141585.52
14    134307.35
15    132602.65
16    129917.04
17    126992.93
18    125370.37
19     124266.9
20    122776.86
21    118474.03
22    111313.02
23    110352.25
24    108733.99
25    108552.04
26    107404.34
27    105733.54
28    105008.31
29    103282.38
30    101004.64
31     99937.59
32     97483.56
33     97427.84
34     96778.92
35      96712.8
36     96479.51
37     90708.19
38     89949.14
39     81229.06
40     81005.76
41     78239.91
42     77798.83
43     71498.49
44     69758.98
45     65200.33
46     64926.08
47     49490.75
48     42559.73
49     35673.41
50      14681.4
Name: Label, dtype: object

Step 4: Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test =  train_test_split(X,y,test_size = 0.2)

In [ ]:
X.shape

(51, 4)

In [ ]:
X_train.shape

(40, 4)

In [ ]:
X_test.shape

(11, 4)

Step-5 : finding null values

In [ ]:
X_train.isnull().sum()

Features-1    0
Features-2    0
Features-3    0
Features-4    0
dtype: int64

In [ ]:
X_test.isnull().sum()

Features-1    0
Features-2    0
Features-3    0
Features-4    0
dtype: int64

step 6--since we have categorical data i.e states names we need to convert into numericals, since we have only three states, weuse one hot encoding

In [ ]:
X_train = X_train.reset_index(drop=True)
X_test = X_test.reset_index(drop=True)

In [ ]:
X_train

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe_state = OneHotEncoder()
X_train_state = pd.DataFrame(ohe_state.fit_transform(X_train[['Features-4']]).toarray())

KeyError: ignored

step-7:Now concatenate the encoded values and drop the State column from the dataset as we need it now.

In [ ]:
X_train = pd.concat([X_train, X_train_state], axis=1)
X_train = X_train.drop(['Features-4'], axis=1)
X_train.head()

KeyError: ignored